__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
instance/
.venv
env/
venv/
ENV/

/scripts/names.dmp
.env
reports/
htmlcov/
.coverage
coverage.xml
*.rdb
.idea/
*.egg-info/